<div class="wrapper">

<div class="row">
  <div class="col-md-5">

      <form>      
        Am deja un cont
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="client.existingMail" placeholder="Introduceti email" required>
        </div>
        <div class="form-group">
          <label>Parola</label>
          <input type="password" class="form-control" ng-model="client.existingPass" placeholder="Introduceti parola" required>
        </div>
        
         <a class="btn btn-default" ng-click="loginUser()" 
        style="background: white!important; color: #005A31!important;">Log In</a>

        <div ng-show="wrongCredentialsFlag">{{message}}</div>
      </form>
  </div>

  <div class="col-md-5 col-md-offset-1">

      <form>
          Creaza cont

        		<div class="form-group">
        			<label>Nume</label>
        			<input type="text" class="form-control" ng-model="client.name" placeholder="Introduceti nume" required >
        		</div>
        		<div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" ng-model="client.email" placeholder="Introduceti email" required >
            </div>
            <div class="form-group">
              <label>Parola</label>
              <input type="password" class="form-control" ng-model="client.pass" placeholder="Introduceti parola" required>
            </div>
        		<div class="form-group">
        			<label>Telefon</label>
        			<input type="tel" class="form-control" ng-model="client.telefon" placeholder="Introduceti nr telefon" required>
         		</div>
         		<div class="form-group">
         			<label>Adresa</label>
         			<input type="text" class="form-control" ng-model="client.adresa" placeholder="Introduceti adresa" required>
         		</div>
           
        <button type="button" class="btn btn-default" 
                onclick="location.href='/#/shoppingCartItems'">Renunta</button>
        <a href='/#/order' class="btn btn-default" ng-click="createUser()" 
        style="background: white!important; color: #005A31!important;">Sign Up</a> f

          

        </form>


        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<script>
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {

  // The response object is returned with a status field that lets the app  know    the current login status of the person.
  if (response.status === 'connected') {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
    document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
  } else {
    // The person is not logged into Facebook, so we're not sure if they are logged into this app or not.
    document.getElementById('status').innerHTML = 'Please log ' + 'into Facebook.';
  }

}

// This function is called when someone finishes with the Login Button.
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

window.fbAsyncInit = function() {
  FB.init({
    appId : '1059031324120051',
    cookie : true, // enable cookies to allow the server to access the session
    xfbml : true, // parse social plugins on this page
    version : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call FB.getLoginStatus(). 
  // This function gets the state of the person visiting this page.
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
};

// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
  </div>
</div>

</div>