<div class="wrapper">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">Comanda dvoastra a fost inregistrata cu succes!</div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-top: 35px; margin-bottom: 40px" >
      <i class="fa fa-female"></i> ........................
      <i class="fa fa-car"></i> 
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <a href="#/home" class="backButton">Meniu Principal</a>
    </div> 
  </div>

</div>