<div class="wrapper">
  <div>{{message}}</div>
	<div class="row">
		<div class="col-md-7 col-md-offset-1  titleWrapper">Comanda dvoastra cuprinde:</div>
    <div class="col-md-offset-9"><a href="#/home" class="backButton btn btn-primary">Mai adauga</a></div>
   
	</div>

	<div class="well orderedItem" ng-repeat="item in orders">

		<ordered-item item="item"></ordered-item>
	</div>

	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1">Total: 30 RON</div>
    <div class="col-md-offset-9">
      <button class="btn btn-primary" onclick="location.href='/#/authentication';">Finalizeaza comanda</button>
    </div>
    
	</div>

</div>

