<div class="subItemBorder"> 
	<div class="row">
		<div class="col-md-3 col-xs-3">
			<img class="photoComanda" ng-src='{{item.photo}}' />
		</div>
		<div class="col-md-4 col-xs-4">
			<p>{{item.name}}</p>
			<p style="font-size:14px">{{item.description}}</p>
		</div>
		<div class="col-md-2 col-xs-2">
			<p><i class="fa fa-plus" ng-click="itemCtrl.incrementQuantity()"></i></p>
			<p> {{item.quantity}} </p>
			<p><i class="fa fa-minus" ng-click="itemCtrl.decrementQuantity()"></i></p>
		</div>
		<div class="col-md-3 col-xs-3">
			{{item.price}} RON
		</div>
	</div>
</div> 
